@import url('https://fonts.googleapis.com/css2?family=Hind&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dosis:wght@300&display=swap');

:root {
    --Rhino: #1e3750;
    --TealBlue: #053f5c;
    --Pelorous: #429ebd;
    --Charlotte: #9FE7F5;
    --Christine: #F27F0C;
    --Buttercup: #F3AA20;
    --Oracle: #306769;
    --EasternBlue:#16A5A3
}


body {
    height: 100vh;
    overflow: hidden;
    width: 80vw;
    margin: auto;
    place-items: center;
    background-color: var(--Rhino);
    font-family: 'Comfortaa', cursive;
}

header {
    text-align: center;
    color: rgb(247, 247, 247);
    background-color: var(--Oracle);

    width: 100%;
    margin: 0;
    padding: 0.5em;
    margin-bottom: 2em;
    letter-spacing: 0.2em;
    box-shadow: 0px 0px 12px black;

}

h1 {
    font-weight: lighter;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#menu {
    margin: auto;
}

button {
    font-family: 'Comfortaa', cursive;
    font-size: 10pt;
    padding: 0.5em;
    border: 1px solid var(--Buttercup);
    border-radius: 3px;
    background-color: var(--Rhino);
    width: 13em;
    color: var(--Buttercup);
    margin: 0.5em;
    letter-spacing: 0.1em;
}


button:hover {
    cursor: pointer;
    /* border: 1px solid var(--Buttercup);*/
    border-radius: 3px;
    color: var(--Rhino);
    background-color: var(--Buttercup);
    background-image: linear-gradient(to right, var(--Buttercup),var(--Christine));
    box-shadow: 0px 0px 8px black;
    font-weight: bolder;
}

button:disabled{
    cursor:default;
    border-radius: 3px;
    color: var(--Rhino);
    background-color: var(--Buttercup);
    background-image: linear-gradient(to right, var(--Buttercup),var(--Christine));
    box-shadow: 0px 0px 8px black;
    font-weight: bolder;
}

#VideoBox {
    width: 300px;
    padding: 10px;
    background-color: #ffffff;
}
